<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
<!--    <script th:src="@{js/vue.js}" type="application/javascript"></script>-->
    <script src="./js/vue.js" type="application/javascript"></script>
    <!-- 引入样式 -->
<!--    <link rel="stylesheet" th:href="@{/element/theme/index.css}"/>-->
    <link rel="stylesheet" href="./element/theme/index.css"/>
    <!-- 引入组件库 -->
<!--    <script th:src="@{/element/index.js}" type="application/javascript"></script>-->
    <script src="./element/index.js" type="application/javascript"></script>

    <script src="./js/axios.js"></script>

</head>
<body>
<div id="app">
    <div id="classInput">
        类名：
        <el-select
                style="width: 500px"
                v-model="value"
                filterable
                remote
                reserve-keyword
                placeholder="请输入关键词"
                :remote-method="searchClass"
                :loading="loading">
            <el-option
                    v-for="(item,index) in form.info"
                    :key="index"
                    :label="item"
                    :value="item">
            </el-option>
        </el-select>
    </div>
    <div id="methodInput">
        方法名：
        <el-select
                style="width: 500px"
                v-model="value"
                filterable
                remote
                reserve-keyword
                placeholder="请输入关键词"
                :remote-method="searchMethod"
                :loading="loading">
            <el-option
                    v-for="(item,index) in form.info"
                    :key="index"
                    :label="item"
                    :value="item">
            </el-option>
        </el-select>
    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                loading:false,
                value:"",
                form: {
                    methodName: "",
                    info: [],
                    size:10,
                }
            }
        },
        methods: {
            //输入框跟踪方法名模糊查询
            searchClass(key) {
                if(key.length==0){
                    return;
                }
                axios({
                    url: "/location/getClassName",
                    method: "GET",
                    params: {
                        className: key,
                        size:this.form.size
                    },
                }).then((res) =>{
                    var data=res.data;
                    if(data.status){
                        console.log(data)
                        this.form.info=data.data.listData;
                    }else{
                        this.$message.error(data.message);
                    }
                })
            },
            searchMethod(key){
                if(key.length==0){
                    return;
                }
                axios({
                    
                })
            }
        }
    })
</script>
</body>
</html>
