<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
<!--    <script th:src="@{js/vue.js}" type="application/javascript"></script>-->
    <script src="./js/vue.js" type="application/javascript"></script>
    <!-- 引入样式 -->
<!--    <link rel="stylesheet" th:href="@{/element/theme/index.css}"/>-->
    <link rel="stylesheet" href="./element/theme/index.css"/>
    <!-- 引入组件库 -->
<!--    <script th:src="@{/element/index.js}" type="application/javascript"></script>-->
    <script src="./element/index.js" type="application/javascript"></script>

    <script src="./js/axios.js"></script>

</head>
<body>
<div id="app" style="width: 80%;margin-left: 200px">
    <el-card class="box-card">
        类名：
        <el-autocomplete
                style="width: 500px"
                v-model="methodInfo.className"
                clearable
                :fetch-suggestions="searchClass"
                @select="selectClassInput"
                placeholder="请输入关键词"
        ></el-autocomplete>

        方法名：
        <el-autocomplete
                style="width: 500px"
                clearable
                v-model="text"
                :fetch-suggestions="searchMethod"
                @select="selectMethodInput"
                placeholder="请输入关键词"
        ></el-autocomplete>
    </el-card>

    <el-card class="box-card" style="margin-top: 18px">
        <div class="div-button">
            <el-button plain @click="">保存</el-button>
            <el-button plain>清除</el-button>
            <el-button plain @click="invokeMethod">测试</el-button>
        </div>
        <table>
            <tr>
                <td class="table-lab">
                    入参：
                </td>
                <td class="table-input">
                    <el-input style="width: 350px" v-for="(item,index) in methodInfo.paramValue"
                            type="textarea"
                            :key="index"
                            :autosize="{ minRows: 15}"
                            placeholder="请输入内容"
                            v-model="methodInfo.paramValue[index]">
                    </el-input>
                </td>
            </tr>

            <tr>
                <td class="table-lab">
                    出参：
                </td>
                <td class="table-input">
                    <el-input
                            disabled
                            type="textarea"
                            :autosize="{ minRows: 15}"
                            placeholder="请输入内容"
                            v-model="methodInfo.returnParamValue">
                    </el-input>
                </td>
            </tr>
        </table>
    </el-card>
</div>
</body>
</html>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                item:"",
                loading:false,
                text:"",
                form: {
                    classInfo: [],
                    methodInfo: [],
                    size:10,
                },
                methodInfo:{
                    returnParams:"",
                    className:"",
                    methodName: "",
                    params:"",
                    paramJsonValue:"",
                    paramValue:[],
                    returnParamValue:"",
                }
            }
        },
        methods: {
            invokeMethod(){
                axios({
                    url:"/method/invokeMethod",
                    method:"POST",
                    data:this.methodInfo
                }).then((res)=>{
                    var data=res.data;
                    if(data.status){
                        
                    }
                })
            },
            //类名选择
            selectClassInput(item){

            },
            //方法选择  如果方法确定则加载出参和入参结构
            selectMethodInput(item){
                this.methodInfo=item;
                axios({
                    url:"/param/getParam",
                    method:"POST",
                    data:this.methodInfo
                }).then((res)=>{
                    var data=res.data;
                    if(data.status){
                        this.methodInfo.paramValue=data.data;
                    }
                })

                axios({
                    url:"/param/getReturnParam",
                    method:"POST",
                    data:this.methodInfo
                }).then((res)=>{
                    var data = res.data;
                    if(data.status){
                        this.methodInfo.returnParamValue=data.data;
                    }
                })
            },
            //输入框跟踪方法名模糊查询
            searchClass(key,callback) {
                axios({
                    url: "/location/getClassName",
                    method: "GET",
                    params: {
                        className: key,
                        size:this.form.size
                    },
                }).then((res) =>{
                    var data=res.data;
                    if(data.status){
                        this.form.classInfo=data.data.listData;
                        callback(this.form.classInfo);
                    }else{
                        this.$message.error(data.message);
                    }
                })
            },
            searchMethod(key,callback){
                if(key.length==0){
                    return;
                }
                axios({
                    url:"/location/getMethod",
                    method:"GET",
                    params:{
                        className:this.methodInfo.className,
                        methodName:key,
                        size:this.form.size
                    }
                }).then((res)=>{
                    var data=res.data;
                    if(data.status){
                        this.form.methodInfo=data.data;
                        callback(this.form.methodInfo);
                    }else{
                        this.$message.error(data.message);
                    }
                })
            }
        }
    })
</script>
<style>
    .table-input{
        width:1000px
    }
    .table-lab{
        width:100px
    }
    .div-button{
        float: right;
        padding: 0 50px;
        cursor: pointer;
        line-height: 70px;
    }
</style>