<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
<!--    <script th:src="@{js/vue.js}" type="application/javascript"></script>-->
    <script src="./js/vue.js" type="application/javascript"></script>
    <!-- 引入样式 -->
<!--    <link rel="stylesheet" th:href="@{/element/theme/index.css}"/>-->
    <link rel="stylesheet" href="./element/theme/index.css"/>
    <!-- 引入组件库 -->
<!--    <script th:src="@{/element/index.js}" type="application/javascript"></script>-->
    <script src="./element/index.js" type="application/javascript"></script>

    <script src="./js/axios.js"></script>

</head>
<body>
<div id="app">
    <el-card class="box-card">
        类名：
        <el-autocomplete
                style="width: 500px"
                v-model="form.className"
                :fetch-suggestions="searchClass"
                @select="selectClassInput"
                placeholder="请输入关键词"
        ></el-autocomplete>

        方法名：
        <el-autocomplete
                style="width: 500px"
                v-model="form.methodName"
                :fetch-suggestions="searchMethod"
                @select="selectClassInput"
                placeholder="请输入关键词"
        ></el-autocomplete>
    </el-card>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                loading:false,
                form: {
                    className:"",
                    methodName: "",
                    classInfo: [],
                    methodInfo: [],
                    size:10,
                }
            }
        },
        methods: {
            selectClassInput(){

            },
            //输入框跟踪方法名模糊查询
            searchClass(key,callback) {
                axios({
                    url: "/location/getClassName",
                    method: "GET",
                    params: {
                        className: key,
                        size:this.form.size
                    },
                }).then((res) =>{
                    var data=res.data;
                    if(data.status){
                        this.form.classInfo=data.data.listData;
                        callback(this.form.classInfo);
                    }else{
                        this.$message.error(data.message);
                    }
                })
            },
            searchMethod(key,callback){
                if(key.length==0){
                    return;
                }
                axios({
                    url:"/location/getMethod",
                    method:"GET",
                    params:{
                        className:this.form.className,
                        methodName:key,
                        size:this.form.size
                    }
                }).then((res)=>{
                    var data=res.data;
                    if(data.status){
                        this.form.methodInfo=data.data;
                        callback(this.form.methodInfo);
                    }else{
                        this.$message.error(data.message);
                    }
                })
            }
        }
    })
</script>
</body>
</html>
