<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<el-row class="tac">
    <el-col :span="3">
        <h5>wayLocation</h5>
        <el-menu
                default-active="/method"
                class="el-menu-vertical-demo"
        >
            <el-submenu index="1">
                <template slot="title">
                    <i class="el-icon-location"></i>
                    <span>工具介绍</span>
                </template>
                <el-menu-item-group>
                    <el-menu-item index="1-1">选项1</el-menu-item>
                    <el-menu-item index="1-2">选项2</el-menu-item>
                </el-menu-item-group>
            </el-submenu>
            <el-menu-item :key="3" index="/method" >
                <i class="el-icon-menu"></i>
                <span slot="title">方法使用</span>
            </el-menu-item>
            <el-menu-item :key="4" index="3">
                <i class="el-icon-document"></i>
                <span slot="title">参数解析</span>
            </el-menu-item>
        </el-menu>
    </el-col>
</el-row>
</body>
</html>