<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <!--    <script th:src="@{js/vue.js}" type="application/javascript"></script>-->
    <script src="./js/vue.js" type="application/javascript"></script>
    <!-- 引入样式 -->
    <!--    <link rel="stylesheet" th:href="@{/element/theme/index.css}"/>-->
    <link rel="stylesheet" href="./element/theme/index.css"/>
    <!-- 引入组件库 -->
    <!--    <script th:src="@{/element/index.js}" type="application/javascript"></script>-->
    <script src="./element/index.js" type="application/javascript"></script>

    <script src="./js/axios.js"></script>

</head>
<body>
<div id="app" style="width: 80%;margin-left: 200px">
    <el-card class="box-card">
        类名：
        <el-autocomplete
                style="width: 500px"
                v-model="methodInfo.className"
                clearable
                :fetch-suggestions="searchClass"
                @select="selectClassInput"
                :highlight-first-item="true"
                :hide-loading="true"
                placeholder="请输入关键词"
        >
            <template slot-scope="{ item }">
                <div class="name" v-html="item.hightLineKey"></div>
            </template>
        </el-autocomplete>

        方法名：
        <el-autocomplete
                style="width: 500px"
                clearable
                v-model="methodInfo.methodName"
                :fetch-suggestions="searchMethod"
                @select="selectMethodInput"
                placeholder="请输入关键词"
        >
            <template slot-scope="{ item }">
                <el-tooltip class="item" effect="dark" :content="item.lineKey" placement="top-start">
                    <div class="name" v-html="item.hightLineKey"></div>
                </el-tooltip>
            </template>

        </el-autocomplete>
        <el-button plain @click="">最优匹配</el-button>
    </el-card>

    <el-card class="box-card" style="margin-top: 18px">
        <div class="div-button">
            <el-button plain @click="openHistory(1)">历史导出</el-button>
            <el-button plain @click="openHistory(2)">历史调用</el-button>
            <el-button plain @click="clearAll">清除</el-button>
            <el-button plain @click="invokeMethod">测试</el-button>
        </div>
        <table>
            <tr>
                <td class="table-lab">
                    入参：
                </td>
                <td class="table-input">
                    <el-input style="width: 350px" v-for="(item,index) in methodInfo.paramValue"
                              type="textarea"
                              :key="index"
                              :autosize="{ minRows: 15}"
                              placeholder="请输入内容"
                              v-model="methodInfo.paramValue[index]">
                    </el-input>
                </td>
            </tr>

            <tr>
                <td class="table-lab">
                    出参：
                </td>
                <td class="table-input">
                    <!--                    <pre>{{methodInfo.returnParamValue}}</pre>-->
                    <el-input
                            disabled
                            type="textarea"
                            :autosize="{ minRows: 15}"
                            placeholder="请输入内容"
                            v-model="methodInfo.returnParamValue">
                    </el-input>
                </td>
            </tr>
        </table>
        <el-table
                :data="methodInfo.sqlInvokeDTO"
                border>
            <el-table-column
                    prop="sql"
                    label="SQL语句"
                    width="600">
            </el-table-column>
            <el-table-column
                    prop="sqlData"
                    label="db数据"
                    width="300">
            </el-table-column>
            <el-table-column
                    prop="sqlTime"
                    label="执行速度"
                    width="90">
            </el-table-column>
            <el-table-column
                    prop="sqlCondition"
                    label="条件"
                    width="280">
            </el-table-column>
            <el-table-column
                    prop="sqlTable"
                    label="涉及表名"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="sqlAction"
                    label="操作类型"
                    width="80">
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="60">
                <template slot-scope="scope">
                    <el-button @click="backClick(scope.row)" type="text" size="medium">回滚</el-button>
                </template>
            </el-table-column>
        </el-table>
    </el-card>
    <el-dialog title="选择记录填充" :visible.sync='dialogSelectHistory'>
        <el-table
                ref="singleTable"
                :data="methodInfos"
                highlight-current-row
                @current-change="selectHistory"
                style="width: 100%">
            <el-table-column
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="invokeTime"
                    label="调用时间"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="methodName"
                    label="方法名"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="className"
                    label="类名"
                    show-overflow-tooltip>
            </el-table-column>
            <el-table-column
                    prop="paramValue"
                    label="入参"
                    show-overflow-tooltip>
            </el-table-column>
        </el-table>
    </el-dialog>
    <el-dialog title="历史记录" :visible.sync="dialogExportHistory">
        <el-table
                ref="multipleTable"
                :data="methodInfos"
                tooltip-effect="dark"
                style="width: 100%"
                @selection-change="exportHistory">
            <el-table-column
                    type="selection"
                    width="55">
            </el-table-column>
            <el-table-column
                    prop="invokeTime"
                    label="调用时间"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="methodName"
                    label="方法名"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="className"
                    label="类名"
                    show-overflow-tooltip>
            </el-table-column>
            <el-table-column
                    prop="paramValue"
                    label="入参"
                    show-overflow-tooltip>
            </el-table-column>
        </el-table>
        <div>
            <el-button @click="exportInfo()">导出Excel</el-button>
        </div>
    </el-dialog>
</div>
</body>
</html>
<script>
    var app = new Vue({
        el: '#app',
        data() {
            return {
                dialogSelectHistory: false,
                dialogExportHistory: false,
                dialogType: 1,
                item: "",
                loading: false,
                form: {
                    classInfo: [],
                    methodInfo: [],
                    size: 10,
                },
                methodInfo: {
                    className: "",
                    returnParams: "",
                    methodName: "",
                    params: "",
                    paramJsonValue: "",
                    paramValue: [],
                    returnParamValue: "",
                    sqlInvokeDTO: [],
                    invokeTime: ""
                },
                methodInfos: []
            }
        },
        methods: {
            selectHistory(val){
              console.log(val);
            },
            exportHistory(val){
                console.log(val);
            },
            //清除
            clearAll() {
                this.methodInfo = {};
            },
            //回滚
            backClick(row) {

            },
            //导出当前的所有历史调用记录
            exportInfo() {
                axios({
                    url: "method/export",
                    method: "POST",
                    data: this.methodInfo
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                    } else {
                        this.$message.error(data.message);
                    }
                })
            },
            //调用历史弹窗
            openHistory(type) {
                axios({
                    url: "method/getHistory"
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.methodInfos = data.data;
                    } else {
                        this.$message.error(data.message);
                    }
                })
                if (type === 1) {
                    this.dialogExportHistory = true;
                }
                if (type === 2) {
                    this.dialogSelectHistory = true;
                }
            },
            invokeMethod() {
                axios({
                    url: "method/invokeMethod",
                    method: "POST",
                    data: this.methodInfo
                }).then((res) => {
                    var data = res.data;
                    console.log(data)
                    if (data.status) {
                        this.methodInfo = data.data;
                    } else {
                        this.$message.error(data.message);
                    }
                })
            },
            //类名选择
            selectClassInput(item) {

            },
            //方法选择  如果方法确定则加载出参和入参结构
            selectMethodInput(item) {
                this.methodInfo = item;
                console.log(this.methodInfo)
                axios({
                    url: "param/getParam",
                    method: "POST",
                    data: this.methodInfo
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.methodInfo.paramValue = data.data;
                    }
                })

                axios({
                    url: "param/getReturnParam",
                    method: "POST",
                    data: this.methodInfo
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.methodInfo.returnParamValue = data.data;
                    }
                })
            },
            //输入框跟踪方法名模糊查询
            searchClass(key, callback) {
                axios({
                    url: "location/getClassName",
                    method: "GET",
                    params: {
                        className: key,
                        size: this.form.size
                    },
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        var list = data.data.listData;
                        if (list == null || list.length === 0) {
                            this.$notify({
                                title: '警告',
                                message: '没有历史使用记录',
                                type: 'warning'
                            });
                            return;
                        }
                        this.form.classInfo = list
                        callback(this.form.classInfo);
                    } else {
                        this.$message.error(data.message);
                    }
                })
            },
            searchMethod(key, callback) {
                axios({
                    url: "location/getMethod",
                    method: "GET",
                    params: {
                        className: this.methodInfo.className,
                        methodName: key,
                        size: this.form.size
                    }
                }).then((res) => {
                    var data = res.data;
                    if (data.status) {
                        this.form.methodInfo = data.data;
                        callback(this.form.methodInfo);
                    } else {
                        this.$message.error(data.message);
                    }
                })
            }
        }
    })
</script>
<style>
    .table-input {
        width: 1000px
    }

    .table-lab {
        width: 100px
    }

    .div-button {
        float: right;
        padding: 0 50px;
        cursor: pointer;
        line-height: 70px;
    }
</style>